<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="./js/vue.js"></script>
    </head>
    <body>
        <div class="root">
            <h2>人员列表</h2>
            <input type="text" name="" id="" placeholder="搜索人员" v-model="keyword" />
            <button @click="sortType=2">年龄升序</button>
            <button @click="sortType=1">年龄降序</button>
            <button @click="sortType=0">原始顺序</button>
            <ul>
                <li v-for="(p,i) in filPersons" :key="p.id">
                    {{i}} 姓名: {{p.name}} 年龄: {{p.age}}
                    <input type="text" name="" id="" />
                </li>
            </ul>
        </div>
        <script>
            new Vue({
                el: ".root",
                data: {
                    persons: [
                        { id: 1, name: "tim", age: 18 },
                        { id: 2, name: "sam", age: 20 },
                        { id: 3, name: "bob", age: 16 },
                        { id: 4, name: "tooo", age: 16 },
                        { id: 5, name: "simom", age: 16 },
                    ],
                    keyword: "",
                    sortType: 0, //排序类型, 0原始顺序, 1降序,2升序
                },
                computed: {
                    filPersons() {
                        const arr = this.persons.filter(p => {
                            return p.name.indexOf(this.keyword) !== -1;
                        });
                        if (this.sortType) {
                            arr.sort((p1, p2) => {
                                if (this.sortType === 1) return p2.age - p1.age;
                                else return p1.age - p2.age;
                            });
                        }
                        return arr;
                    },
                },
            });
        </script>
    </body>
</html>
