body {
	background-color: #f7f7f7;
	font-size: 12px;
}

.main {
	padding: 12px 12px 80px;
}

.panel {
	margin-bottom: 12px;
	padding: 12px;
	border-radius: 6px;
	background-color: #fff;
}
.main .user_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user_info .location {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
	background-color: #5ab49b;
}
.user_info .info {
	flex: 1;
	margin-left: 12px;
}
.user_info .info .name {
	font-size: 15px;
}

.user_info .more {
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 44px;
}
.goods {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}
.goods img {
	width: 85px;
	border-radius: 6px;
}
.goods .info {
	margin-left: 12px;
	flex: 1;
}


.goods .info .tag {
    display: inline-block;
	padding: 4px;
	background-color: #f7f7f8;
	color: #888888;
}
.goods .info .price .price_now {
	font-size: 9px;
	color: #cf4444;
}
.goods .info .price .price_now span {
	font-size: 16px;
}
.goods .info .price .price_old {
	font-size: 9px;
}
.goods .info .price .price_old span {
	font-size: 12px;
	text-decoration: line-through;
}

.goods .number {
	width: 44px;
	height: 44px;

	font-size: 12px;
	text-align: center;
	line-height: 44px;
}

.rest p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}
.rest p:nth-child(2){

    justify-content: flex-start;
}
.rest .mjbz .mjbz_info{
    margin-left: 12px;
    color: #b5b5b5;

}


.price_info p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.price_info .zk{
    color: #cf4444;
}





.pay {
	padding: 20px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 0%;
	bottom: 0%;

	width: 100%;
	height: 80px;
	background-color: #fefefe;
}
.pay .left {
	font-size: 12px;
}
.pay .left .total-price {
	font-size: 20px;
	font-weight: bold;
	color: #d15f63;
}
.pay .left .total {
	font-size: 10px;
	color: #d15f63;
}
.pay .right a {
	display: block;
	width: 90px;
	height: 35px;
	background: #54a99a;
	border-radius: 3px;
	text-align: center;
	line-height: 35px;
	color: #fff;
}
